<%= simple_form_for(@pin, :html=>{:class=>"from-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, :class=>"alert alert-error"%>
  <%= f.full_error :image_content_type, :class=>"alert alert-error"%>

	<%= f.input :Name %>
  <%= f.input :theme %>
  <%= f.input :year %>
  <%= f.input :image, :label=>'Uploda an image' %>
  <%= f.input :image_remote_url, :label=>'or enter an URL' %>  
  <%= f.input :description, :as => :text, :input_html => {:rows => "3"} %>

  <div class="form-actions" id ="fake">
    <%= f.button :submit, :class=>"btn btn-primary" %>
  </div>
<% end %>
